*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
    background: rgb(242, 255, 58);
}

ul {
    list-style: none;
    
    
}

ul > li > ul {
    display: none;

}

ul > li:target > ul {
    margin: auto;
    width: 200px;
    display: block;
    height: 100%;
}

.opcion {
    float: left;
    margin: auto;
    width: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: blueviolet;
    color: antiquewhite;
}

a { color: rgb(8, 8, 8);
    text-decoration: none;
    font-size: 20px;
}

.subOpcion {
     
    padding-left: 20px;
    background: gray;
    color: aquamarine;
    font-family: cursive;
    font-size: 100%;
}








